*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

# test result files
lib/snapit/tests/data_testing/test_data

# Pydev/Eclipse files
.project
.pydevproject
.settings

# Auto generated documentation files
docs/iris/src/_static/random_image.js
docs/iris/src/_templates/gallery.html
docs/iris/src/examples/
docs/iris/src/iris/

# Created by editiors
*~
\#*
\.\#*
*.swp
